$test_colors: ();
$test_colors: map-merge((
  "primary": #E10A0A,
  "danger": #E10A0A,
  "hover":#E10A0A,
  "white": #FFFFFF,
  "secondary": #D03788,
  "secondary-2": #69E1E6,
  "secondary-3": #FF7300,
  "dark": #051441,
  "dark-2": #1E2332,
  "accent": #383DFF,
  "accent-2": #A500F5,
  "body":#000000,
  "muted":#6D7173,
  "border":#DFE3E6,
  "info":#DFE3E6,
  "light":#FAFAFA,
  "primary-light":#FF5C3B,
  "primary-dark":#C20000,
  "secondary-light":#FF6DB8,
  "secondary-dark":#9B005B,
  "secondary-2-light":#A0FFFF,
  "secondary-2-dark":#29AFB4,
  "success":#D3E629,
  "secondary-3-light":#FFA441,
  "secondary-3-dark":#C44300,
  "dark-light":#33396C,
  "dark-dark":#02041E,
  "dark-2-light":#464B5B,
  "dark-2-dark":#00000B,
  "link":#000000,
  "active":#C20000,
  //"focus":#"
  //"selected":#,
  //"disabled":#,
  //"heading":#
), $test_colors);


@include describe('Colour variables are added to the global var array [Variable]') {
  @each $color, $value in $test_colors {

    @include it($color+' colour variable is added to the global var array with the correct hex code') {
      @include assert {
        @include output {
          color: map-get($vars, --colour-#{$color});
        }
        @include expect {
          color: $value;
        }
      }
    }
  }
}