
 /* Coolors Exported Palette - coolors.co/eec643-f99302-bf211e-094074-aaabbc */

/* HSL */
$color1: hsla(46%, 83%, 60%, 1);
$color2: hsla(35%, 98%, 49%, 1);
$color3: hsla(1%, 73%, 43%, 1);
$color4: hsla(209%, 86%, 25%, 1);
$color5: hsla(237%, 12%, 70%, 1);

/* RGB */
$color1: rgba(238, 198, 67, 1);
$color2: rgba(249, 147, 2, 1);
$color3: rgba(191, 33, 30, 1);
$color4: rgba(9, 64, 116, 1);
$color5: rgba(170, 171, 188, 1);


.slide {
  background: $color1;

  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  width: 100vw;
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  align-items: center;

  

  &.first {
    z-index: 5;
  }

  &:target {
    z-index: 10;
  }
}