$primary: #E10A0A;
$secondary: #28A745;

$vars: ();
$vars: map-merge((
  "--colour-primary":   $primary,
  "--colour-secondary":   $secondary
), $vars);

:root {
  @each $var, $value in $vars {
    #{$var}: #{$value};
  }
}